.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: black;
}

img {
  width: 80%;
  border-radius: 1rem;
}

p {
  margin-top: 3rem;
}

@media only screen and (min-width: 600px) {
  img {
    width: 30rem;
  }
}

@media only screen and (min-width: 1000px) {
  img {
    width: 40rem;
  }
}
