.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: black;
}

img {
  width: 80%;
  border-radius: 1rem;
}

p {
  margin-top: 3rem;
  width: 80%;
  text-align: center;
}

button {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  width: 11rem;
  padding: 0.25rem;
  margin: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  width: 11rem;
  padding: 0.25rem;
  margin: 0.5rem;
  cursor: pointer;
}

.unsplash-img {
  margin: 1.5rem;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.display-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  img {
    width: 30rem;
  }

  p {
    width: 30rem;
  }
}

@media only screen and (min-width: 1000px) {
  img {
    width: 40rem;
  }

  p {
    width: 40rem;
  }
}
